.introducao_bg {
  background: var(--cor_12);
  box-shadow: inset 0 -100px var(--cor_0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao_conteudo {
  align-self: end;
  padding-bottom: 200px;
}

/* .introducao_conteudo span {
  color: #e82300;
} */

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
  /* color: #b2b2b2; */
}

.introducao_conteudo p img {
  display: inline;
  width: 7rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao_bg {
    background: var(--cor_11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor_0);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao_conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
